extends layout 

block content

  h1= title
   if (toShow == null)
    h2 No instance to Update
   else
  - let bottleid = toShow._id 
  - let brand = toShow.brand
  - let bottlesModel = toShow.bottlesModel 
  - let Quantity = toShow.Quantity 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{bottleid} 
  - let actionid = "/resource/bottle/" + bottleid 
  form(id='bottleForm', action= actionid, method="PUT") 
    div.form-group 
        label.bottleAttr(for='brand') brand
        input#brand(type='text', name='brand', value= brand ) 
    div.form-group 
        label.bottleAttr(for='bottlesModel') bottlesModel
        input#bottlesModel(type='text', name='bottlesModel', value= bottlesModel) 
    div.form-group 
        label.bottleAttr(for='Quantity') Quantity
        input#Quantity(type='number', name='Quantity', value= Quantity) 
    input(type="submit") 
 
  script.
    document.forms['bottleForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      }); 
    }); 