body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bottleAttr { 
  background-color: yellow;
  width: 200px;
  margin: 5px;
  text-align: center;
  color: blue;
  padding: 10px;
  border-radius: 5px;
}
.Title{
  color: darkkhaki;
  font-weight: 500;
  font-family: sans-serif;
}
 